*{
    margin: 0PX;
    padding: 0px;
}
.container{
     margin: 39%;
     margin-top: 25%;
}
button{
    height: 3em;
    width:9em;
    border-radius: 30em;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px #ffffff, -6px -6px -12px #a19595;

     
     
    border-radius: 25px;
    margin-left: 55px;
     
}
button::before{
    content: "";
    width: 0em;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right , #0fd850 0% ,#f9f047 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;

}
button:hover::before{
    width: 9em;
    cursor: pointer;

}